* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    width: auto;
}

body {
    margin: 100px 50px;
    background-color: rgb(166, 204, 219);
    width: auto;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

h5 {
    font-size: 15px;
    color: rgb(1, 49, 144);
}

p {
    color: gray;
    font-size: 10px;
    margin: 0 10px;
}

.attribution {
    text-align: center;
    font-size: 10px;
    margin-top: 50px;
}

@media only screen and (min-width: 768px) {
    main {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        width: 30%;
        margin-left: 35%;
    }
}